# Exercise: Data Cleaning
This lesson will help you practice the skills required for editing parts of a dataset using Pandas.

The dataset that we're working with in this lesson is still the one from Hannah Andersen and Matt Daniels's *Pudding* essay, ["Film Dialogue from 2,000 screenplays, Broken Down by Gender and Age"](https://pudding.cool/2017/03/film-dialogue/). You can find the dataset's documentation [here](https://docs.google.com/document/d/1EMsuxPrX4ChO2HSMy_zKidS-KQluoIfcv0_23W5BKuA/edit?usp=sharing).

To begin, just import Pandas again, and change its display settings, and import the same *Pudding* data frame/CSV.

In [21]:
# Import Pandas
import pandas as pd
pd.options.display.max_rows = 100

# Get the data, using the same method from the last lesson.
pudding_df = pd.read_csv("Pudding-Film-Dialogue.csv")

## Data Frame Heads:
The **.head()** method in Pandas can show you the first few in a set amount of rows in the data frame, printing them after you specify the parameter in the parentheses. Try it out!

In [26]:
pudding_df.head(10)

,title,release_year,character,gender,words,proportion_of_dialogue,age,gross,script_id
0,The Bridges of Madison County,1995,Betty,woman,311,0.048639,35.0,142.0,280
1,The Bridges of Madison County,1995,Carolyn Johnson,woman,873,0.136534,NaN,142.0,280
2,The Bridges of Madison County,1995,Eleanor,woman,138,0.021583,NaN,142.0,280
3,The Bridges of Madison County,1995,Francesca Johns,woman,2251,0.352049,46.0,142.0,280
4,The Bridges of Madison County,1995,Madge,woman,190,0.029715,46.0,142.0,280
5,The Bridges of Madison County,1995,Michael Johnson,man,723,0.113075,38.0,142.0,280
6,The Bridges of Madison County,1995,Robert Kincaid,man,1908,0.298405,65.0,142.0,280
7,15 Minutes,2001,Bobby Korfin,man,328,0.036012,NaN,37.0,623
8,15 Minutes,2001,Daphne Handlova,woman,409,0.044906,28.0,37.0,623
9,15 Minutes,2001,Deputy Chief Fi,man,347,0.038098,NaN,37.0,623

## Investigating a Data Frame
The **.info()** method can help you understand the columns in the data, such as their data types, by printing a list of its information.

In [23]:
pudding_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23047 entries, 0 to 23046
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   title                   23047 non-null  object
 1   release_year            23047 non-null  int64
 2   character               23047 non-null  object
 3   gender                  23047 non-null  object
 4   words                   23047 non-null  int64
 5   proportion_of_dialogue  23047 non-null  float64
 6   age                     18262 non-null  float64
 7   gross                   19386 non-null  float64
 8   script_id               23047 non-null  int64
dtypes: float64(3), int64(3), object(3)
memory usage: 1.6+ MB

Just like Python has different data types, Pandas has different data types, too. These data types are automatically assigned to columns when we read in a CSV file. We can check these Pandas data types with the **.dtypes** method.

## Checking for Duplicates
We can check for duplicates in the data frame using the **.duplicated()** method and setting the parameter **keep=False**, which displays the duplicated values and removes them.

You can use this to isolate only the rows in the dataframe that are exact duplicates.

In [24]:
pudding_filter = pudding_df.duplicated(keep=False)
pudding_filter

0        False
1        False
2        False
3        False
4        False
         ...
23042    False
23043    False
23044    False
23045    False
23046    False
Length: 23047, dtype: bool

The output above is reporting whether each row in the dataset is a duplicate. You can also use this inside a filter to isolate the exact duplicates.

## Cleaning Data with String Methods
Pandas has some special [string methods](https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html#string-methods) similar to the base Python ones, but they will transform every single string value in a column, and you have to add **.str** to the method chain.

Here are some of these methods:
- **.str.lower()** makes each row lowercase, and **.str.upper()** makes each row uppercase. Similarly, **.str.title()** makes every row titlecase.
- **.str.replace('old string', 'new string')** replaces the value of one old string with a new string for each row.
- **.str.contains('some string')** tests whether each row contains a specific string value.
- **.str.split('delimiter')** returns a list of substrings separated by a given delimiter, while the opposite, **.str.join()** returns a list of substrings in a given list together using some string.

To change character names in the columns to lowercase and uppercase, you can use **.str.upper()** and **.str.lower()**. Try it out here!

In [30]:
upper_pudding_df = pudding_df["character"].str.upper()
upper_pudding_df.sample(10)

4528          TOM KRUGER
3787              GRANNY
23034         THE FATHER
21185     CONSTANCE SACK
3030     DEXTER JETTSTER
11292              CHUCK
12360              DAVEY
5780         BLACK SHAWL
9398        FRANK CATTON
15809        KING ROLAND
Name: character, dtype: object

In [31]:
lower_pudding_df = pudding_df["character"].str.lower()
lower_pudding_df.sample(10)

18959         mr. thomas
16049               sage
12025              trudy
7161               maria
13603              woman
506              sattler
20580              kathy
2634     general francis
2959     gregory       (
9076          mrs. grant
Name: character, dtype: object

If you want to replace the gender columns' single letter abbreviations for "man"/"woman" (gender) with "male"/"female" (gender identity), you can use the **.str.replace()** method.

In [38]:
pudding_df["gender"] = pudding_df["gender"].str.replace("man", "male")
pudding_df["gender"] = pudding_df["gender"].str.replace("wo", "fe") # There's this weird error that came up changing ALL instances of "male," but this is how I was able to fix it.
# View the cleaned dataset:
pudding_df.sample(10)

,title,release_year,character,gender,words,proportion_of_dialogue,age,gross,script_id
3811,Affliction,1997,Jack Hewitt,male,1616,0.081616,31.0,11.0,1559
15713,Come See the Paradise,1990,Dulcie Kawamura,male,365,0.051605,NaN,1.0,5298
15121,Star Trek: First Contact,1996,Ruby,female,470,0.070328,NaN,181.0,5036
8482,Living in Oblivion,1995,Wanda,female,3178,0.146088,30.0,2.0,2787
10047,Rush Hour,1998,Johnson,female,467,0.057804,39.0,261.0,3248
2242,Natural Born Killers,1994,Wayne Gale,male,4624,0.380513,29.0,104.0,1185
15240,Sweet November,2001,Abner,male,303,0.034393,11.0,38.0,5086
4715,The Birds,1963,Deputy Al Malon,male,660,0.030005,56.0,NaN,1826
17201,Ouija,2014,Mrs. Galardi,female,167,0.021799,42.0,54.0,6156
20877,Gone in Sixty Seconds,2000,Toby,male,525,0.051562,27.0,164.0,8050

We can also use **.str.contains()** to search for a particular word or phrase in a column, like *Star Wars*. Try it out here.

In [40]:
pudding_df[pudding_df["title"].str.contains("Star Wars")]

,title,release_year,character,gender,words,proportion_of_dialogue,age,gross,script_id
3017,Star Wars: Episode VI - Return of the Jedi,1983,Admiral Ackbar,male,199,0.039096,61.0,853.0,1359
3018,Star Wars: Episode VI - Return of the Jedi,1983,Ben 'Obi-Wan' K,male,462,0.090766,69.0,853.0,1359
3019,Star Wars: Episode VI - Return of the Jedi,1983,C-3Po,male,881,0.173084,37.0,853.0,1359
3020,Star Wars: Episode VI - Return of the Jedi,1983,Darth Vader,male,381,0.074853,48.0,853.0,1359
3021,Star Wars: Episode VI - Return of the Jedi,1983,Han Solo,male,835,0.164047,41.0,853.0,1359
3022,Star Wars: Episode VI - Return of the Jedi,1983,Lando Calrissia,male,379,0.074460,46.0,853.0,1359
3023,Star Wars: Episode VI - Return of the Jedi,1983,Luke Skywalker,male,915,0.179764,32.0,853.0,1359
3024,Star Wars: Episode VI - Return of the Jedi,1983,Princess Leia,female,359,0.070530,27.0,853.0,1359
3025,Star Wars: Episode VI - Return of the Jedi,1983,The Emperor,male,516,0.101375,39.0,853.0,1359
3026,Star Wars: Episode VI - Return of the Jedi,1983,Yoda,male,163,0.032024,19.0,853.0,1359
3027,Star Wars: Episode II - Attack of the Clones,2002,Anakin Skywalke,male,2061,0.274251,21.0,465.0,1360
3028,Star Wars: Episode II - Attack of the Clones,2002,Cliegg Lars,male,152,0.020226,62.0,465.0,1360
3029,Star Wars: Episode II - Attack of the Clones,2002,Count Dooku,male,321,0.042715,80.0,465.0,1360
3030,Star Wars: Episode II - Attack of the Clones,2002,Dexter Jettster,male,151,0.020093,67.0,465.0,1360
3031,Star Wars: Episode II - Attack of the Clones,2002,Jar Jar Binks,male,294,0.039122,29.0,465.0,1360
3032,Star Wars: Episode II - Attack of the Clones,2002,Lama Su,male,350,0.046574,48.0,465.0,1360
3033,Star Wars: Episode II - Attack of the Clones,2002,Mace Windu,male,365,0.048570,54.0,465.0,1360
3034,Star Wars: Episode II - Attack of the Clones,2002,Madame Jocasta,female,331,0.044045,82.0,465.0,1360
3035,Star Wars: Episode II - Attack of the Clones,2002,Obi-Wan Kenobi,male,1477,0.196540,31.0,465.0,1360
3036,Star Wars: Episode II - Attack of the Clones,2002,Padme,female,668,0.088889,21.0,465.0,1360
3037,Star Wars: Episode II - Attack of the Clones,2002,Queen Jamillia,female,135,0.017964,25.0,465.0,1360
3038,Star Wars: Episode II - Attack of the Clones,2002,Supreme Chancel,male,576,0.076647,58.0,465.0,1360
3039,Star Wars: Episode II - Attack of the Clones,2002,Taun We,female,139,0.018496,40.0,465.0,1360
3040,Star Wars: Episode II - Attack of the Clones,2002,Watto,male,140,0.018629,49.0,465.0,1360
3041,Star Wars: Episode II - Attack of the Clones,2002,Yoda,male,355,0.047239,58.0,465.0,1360
3058,Star Wars: Episode IV - A New Hope,1977,Ben Obi-Wan Ken,male,995,0.099084,63.0,1798.0,1362
3059,Star Wars: Episode IV - A New Hope,1977,C-3Po,male,1506,0.149970,31.0,1798.0,1362
3060,Star Wars: Episode IV - A New Hope,1977,Cmdr. Praji (Im,male,117,0.011651,42.0,1798.0,1362
3061,Star Wars: Episode IV - A New Hope,1977,Darth Vader,male,492,0.048994,46.0,1798.0,1362
3062,Star Wars: Episode IV - A New Hope,1977,General Dodonna,male,185,0.018423,66.0,1798.0,1362
3063,Star Wars: Episode IV - A New Hope,1977,Grand Moff Tark,male,411,0.040928,64.0,1798.0,1362
3064,Star Wars: Episode IV - A New Hope,1977,Greedo,male,103,0.010257,33.0,1798.0,1362
3065,Star Wars: Episode IV - A New Hope,1977,Han Solo,male,1730,0.172276,35.0,1798.0,1362
3066,Star Wars: Episode IV - A New Hope,1977,Jabba,male,185,0.018423,NaN,1798.0,1362
3067,Star Wars: Episode IV - A New Hope,1977,Luke Skywalker,male,2485,0.247461,26.0,1798.0,1362
3068,Star Wars: Episode IV - A New Hope,1977,Princess Leia O,female,636,0.063334,21.0,1798.0,1362
3069,Star Wars: Episode IV - A New Hope,1977,Red Leader,male,241,0.023999,37.0,1798.0,1362
3070,Star Wars: Episode IV - A New Hope,1977,Red Three (Bigg,male,523,0.052081,38.0,1798.0,1362
3071,Star Wars: Episode IV - A New Hope,1977,Stormtrooper,male,122,0.012149,36.0,1798.0,1362
3072,Star Wars: Episode IV - A New Hope,1977,Uncle Owen,male,311,0.030970,61.0,1798.0,1362
10591,Star Wars: Episode III - Revenge of the Sith,2005,Anakin Skywalke,male,3768,0.271138,24.0,515.0,3427
10592,Star Wars: Episode III - Revenge of the Sith,2005,C-3Po,male,312,0.022451,59.0,515.0,3427
10593,Star Wars: Episode III - Revenge of the Sith,2005,Clone Jedi Knig,male,104,0.007484,NaN,515.0,3427
10594,Star Wars: Episode III - Revenge of the Sith,2005,Darth Sldious,male,244,0.017558,NaN,515.0,3427
10595,Star Wars: Episode III - Revenge of the Sith,2005,General Grievou,male,317,0.022811,33.0,515.0,3427
10596,Star Wars: Episode III - Revenge of the Sith,2005,Ki-Adi-Mundi /,male,107,0.007700,40.0,515.0,3427
10597,Star Wars: Episode III - Revenge of the Sith,2005,Mace Windu,male,407,0.029287,57.0,515.0,3427
10598,Star Wars: Episode III - Revenge of the Sith,2005,Mon Mothma,female,127,0.009139,28.0,515.0,3427
10599,Star Wars: Episode III - Revenge of the Sith,2005,Obi-Wan Kenobi,male,3181,0.228898,34.0,515.0,3427
10600,Star Wars: Episode III - Revenge of the Sith,2005,Padme,female,1561,0.112326,24.0,515.0,3427
10601,Star Wars: Episode III - Revenge of the Sith,2005,Senator Bail Or,male,479,0.034468,50.0,515.0,3427
10602,Star Wars: Episode III - Revenge of the Sith,2005,Supreme Chancel,male,2367,0.170325,61.0,515.0,3427
10603,Star Wars: Episode III - Revenge of the Sith,2005,Yoda,male,923,0.066417,61.0,515.0,3427
10604,Star Wars: Episode V - The Empire Strikes Back,1980,Admiral Piett,male,232,0.025127,43.0,937.0,3433
10605,Star Wars: Episode V - The Empire Strikes Back,1980,Ben (Obi-Wan) K,male,177,0.019170,66.0,937.0,3433
10606,Star Wars: Episode V - The Empire Strikes Back,1980,C-3Po,male,1474,0.159645,34.0,937.0,3433
10607,Star Wars: Episode V - The Empire Strikes Back,1980,Captain Needa,male,108,0.011697,42.0,937.0,3433
10608,Star Wars: Episode V - The Empire Strikes Back,1980,Darth Vader,male,853,0.092386,49.0,937.0,3433
10609,Star Wars: Episode V - The Empire Strikes Back,1980,General Veers,male,114,0.012347,45.0,937.0,3433
10610,Star Wars: Episode V - The Empire Strikes Back,1980,Han Solo,male,2024,0.219214,38.0,937.0,3433
10611,Star Wars: Episode V - The Empire Strikes Back,1980,Lando Calrissia,male,798,0.086429,43.0,937.0,3433
10612,Star Wars: Episode V - The Empire Strikes Back,1980,Luke Skywalker,male,1282,0.138850,29.0,937.0,3433
10613,Star Wars: Episode V - The Empire Strikes Back,1980,Princess Leia,female,1025,0.111015,24.0,937.0,3433
10614,Star Wars: Episode V - The Empire Strikes Back,1980,Rebel Force Gen,male,168,0.018196,50.0,937.0,3433
10615,Star Wars: Episode V - The Empire Strikes Back,1980,Snow Creature,male,227,0.024586,NaN,937.0,3433
10616,Star Wars: Episode V - The Empire Strikes Back,1980,Yoda,male,751,0.081339,36.0,937.0,3433
10617,Star Wars: Episode I - The Phantom Menace,1999,Anakin Skywalke,male,1697,0.158037,10.0,813.0,3437
10618,Star Wars: Episode I - The Phantom Menace,1999,Boss Nass,male,209,0.019464,63.0,813.0,3437
10619,Star Wars: Episode I - The Phantom Menace,1999,Captain Panaka,male,390,0.036320,45.0,813.0,3437
10620,Star Wars: Episode I - The Phantom Menace,1999,Chancellor Valo,male,127,0.011827,61.0,813.0,3437
10621,Star Wars: Episode I - The Phantom Menace,1999,Darth Sidious,male,277,0.025796,NaN,813.0,3437
10622,Star Wars: Episode I - The Phantom Menace,1999,Jar Jar Binks,male,632,0.058856,26.0,813.0,3437
10623,Star Wars: Episode I - The Phantom Menace,1999,Mace Windu,male,247,0.023002,51.0,813.0,3437
10624,Star Wars: Episode I - The Phantom Menace,1999,Nute Gunray,male,544,0.050661,34.0,813.0,3437
10625,Star Wars: Episode I - The Phantom Menace,1999,Obi-Wan Kenobi,male,701,0.065282,28.0,813.0,3437
10626,Star Wars: Episode I - The Phantom Menace,1999,Padme,female,718,0.066865,18.0,813.0,3437
10627,Star Wars: Episode I - The Phantom Menace,1999,Queen Amidala,female,656,0.061091,18.0,813.0,3437
10628,Star Wars: Episode I - The Phantom Menace,1999,Qui-Gon Jinn,male,2339,0.217825,47.0,813.0,3437
10629,Star Wars: Episode I - The Phantom Menace,1999,Ric Oli�,male,132,0.012293,42.0,813.0,3437
10630,Star Wars: Episode I - The Phantom Menace,1999,Rune Haako,male,126,0.011734,NaN,813.0,3437
10631,Star Wars: Episode I - The Phantom Menace,1999,Senator Palpati,male,551,0.051313,55.0,813.0,3437
10632,Star Wars: Episode I - The Phantom Menace,1999,Shmi Skywalker,female,414,0.038555,41.0,813.0,3437
10633,Star Wars: Episode I - The Phantom Menace,1999,Sio Bibble,male,164,0.015273,60.0,813.0,3437
10634,Star Wars: Episode I - The Phantom Menace,1999,Watto,male,502,0.046750,46.0,813.0,3437
10635,Star Wars: Episode I - The Phantom Menace,1999,Yoda,male,312,0.029056,55.0,813.0,3437
20999,Star Wars: Episode VII - The Force Awakens,2015,Bala-Tik,male,140,0.021002,NaN,927.0,8099
21000,Star Wars: Episode VII - The Force Awakens,2015,C-3Po,male,138,0.020702,69.0,927.0,8099
21001,Star Wars: Episode VII - The Force Awakens,2015,Finn,male,1447,0.217072,23.0,927.0,8099
21002,Star Wars: Episode VII - The Force Awakens,2015,General Hux,male,356,0.053405,32.0,927.0,8099
21003,Star Wars: Episode VII - The Force Awakens,2015,Han Solo,male,1225,0.183768,73.0,927.0,8099
21004,Star Wars: Episode VII - The Force Awakens,2015,Kylo Ren,male,618,0.092709,32.0,927.0,8099
21005,Star Wars: Episode VII - The Force Awakens,2015,Maz Kanata,female,241,0.036154,32.0,927.0,8099
21006,Star Wars: Episode VII - The Force Awakens,2015,Poe Dameron,male,604,0.090609,36.0,927.0,8099
21007,Star Wars: Episode VII - The Force Awakens,2015,Princess Leia,female,252,0.037804,59.0,927.0,8099
21008,Star Wars: Episode VII - The Force Awakens,2015,Rey,female,1363,0.204470,23.0,927.0,8099
21009,Star Wars: Episode VII - The Force Awakens,2015,Stormtrooper,male,114,0.017102,NaN,927.0,8099
21010,Star Wars: Episode VII - The Force Awakens,2015,Supreme Leader,male,168,0.025203,51.0,927.0,8099

In [41]:
# Try it again with a movie you like!
pudding_df[pudding_df["title"].str.contains("Mean Girls")]

,title,release_year,character,gender,words,proportion_of_dialogue,age,gross,script_id
13937,Mean Girls,2004,Aaron Samuels,male,426,0.053890,23.0,120.0,4605
13938,Mean Girls,2004,Cady Heron,female,2798,0.353953,18.0,120.0,4605
13939,Mean Girls,2004,Damian,male,624,0.078937,26.0,120.0,4605
13940,Mean Girls,2004,Gretchen Wiener,female,609,0.077040,22.0,120.0,4605
13941,Mean Girls,2004,Janis Ian,female,907,0.114738,22.0,120.0,4605
13942,Mean Girls,2004,Karen Smith,female,301,0.038077,19.0,120.0,4605
13943,Mean Girls,2004,Mr. Duvall,male,365,0.046173,43.0,120.0,4605
13944,Mean Girls,2004,Mrs. George,female,125,0.015813,33.0,120.0,4605
13945,Mean Girls,2004,Ms. Norbury,female,720,0.091082,34.0,120.0,4605
13946,Mean Girls,2004,Regina George,female,1030,0.130297,26.0,120.0,4605

## Applying Functions:
With the **.apply()** method, we can run functions on every row in a Pandas column or data frame. For example, if you create a function called **make_text_titlecase()** that makes a string title-case, then you can apply it to functions using **.apply()**.

Try making this, as there is no way to make text title-case using Pandas string methods.

In [43]:
# Define the function here:
def make_text_titlecase(text):
    titlecase_text = text.title()
    return titlecase_text

# Try it out with a sample string:
make_text_titlecase("i love tacos")

'I Love Tacos'

Now try this out by making each name in the data frame lowercase, and then title-case!

In [46]:
pudding_df["character"] = pudding_df["character"].str.lower()

# Checking to make sure it worked:
pudding_df.sample(10)

,title,release_year,character,gender,words,proportion_of_dialogue,age,gross,script_id
14483,The Poseidon Adventure,1972,purser,male,113,0.019188,41.0,477.0,4810
8428,The Lion King,1994,pumbaa,male,103,0.037292,45.0,880.0,2782
15246,Sweet November,2001,vince holland,male,586,0.066515,43.0,38.0,5086
3884,All About Steve,2009,teacher,female,183,0.011772,52.0,39.0,1603
19064,Ghostbusters,1984,walter peck,male,540,0.050321,37.0,592.0,7290
14678,The Rules of Attraction,2002,mitchell,male,281,0.028387,22.0,9.0,4899
17819,Hannibal,2001,proprietor,male,161,0.021162,NaN,253.0,6568
18621,In the Mouth of Madness,1994,jackson harglow,male,225,0.044049,71.0,18.0,7102
4348,Authors Anonymous,2014,lois pepper,female,337,0.027967,58.0,NaN,1716
4885,"Bodies, Rest & Motion",1993,carol,female,1952,0.151013,30.0,1.0,1870

In [47]:
pudding_df["character"] = pudding_df["character"].apply(make_text_titlecase)

# Checking to make sure it worked:
pudding_df.sample(10)

,title,release_year,character,gender,words,proportion_of_dialogue,age,gross,script_id
13993,Michael Clayton,2007,Marty Bach,male,616,0.080042,73.0,61.0,4619
12381,Conspiracy Theory,1997,Flip,male,114,0.013713,50.0,144.0,4039
22515,Hot Fuzz,2007,Met Sergeant,male,204,0.021537,36.0,29.0,8902
4122,Anna Karenina,2012,Dolly,female,404,0.036841,36.0,13.0,1659
8184,Larry Crowne,2011,Denise,female,221,0.016677,NaN,39.0,2733
14393,Panther,1995,Brimmer,male,724,0.073930,59.0,13.0,4765
7663,The Ice Storm,1997,Wendy Hood,female,1686,0.082858,17.0,14.0,2591
726,City of Joy,1992,Gangooly - Con,male,581,0.041859,NaN,30.0,809
8215,The Last Samurai,2003,Emperor Meiji,male,884,0.052632,20.0,160.0,2739
7818,Invictus,2009,Mary,female,107,0.014765,39.0,43.0,2632

## Filtering Data Frames
You can also use the filtering syntax from before to make only a specific category appear. Try it out with gender below.

In [48]:
female_df = pudding_df[pudding_df["gender"] == "female"]
female_df.sample(10)

,title,release_year,character,gender,words,proportion_of_dialogue,age,gross,script_id
1350,Gremlins 2: The New Batch,1990,Kate Beringer,female,825,0.110516,27.0,85.0,973
6082,The Distinguished Gentleman,1992,Miss Loretta,female,110,0.073628,36.0,97.0,2160
20967,Spotlight,2015,Barbara,female,105,0.007465,52.0,35.0,8089
20742,The Ref,1994,Caroline,female,2636,0.238920,39.0,23.0,8000
16002,Dear White People,2014,Sofia Fletcher,female,276,0.024796,24.0,4.0,5397
19838,The Town That Dreaded Sundown,2014,Jami,female,2077,0.275209,23.0,NaN,7633
9828,Rambling Rose,1991,Doll,female,954,0.032243,13.0,12.0,3174
10650,Storytelling,2001,Elizabeth St. C,female,144,0.011158,NaN,1.0,3455
16493,Truth,2015,Betsy West,female,339,0.027904,44.0,2.0,5507
5270,Casino,1995,Female Newscast,female,460,0.006797,NaN,84.0,1963